
/* Saxat från tidigare inlämningsuppggiftskod START */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    
    /* Färger att använda */
    --clr-gray-100: #f3f6ff; 
    --clr-gray-200: #eff2fc; 
    --clr-gray-300: #e2e5f1; 
    --clr-gray-400: #d4d7e5; 
    --clr-gray-500: #b4b7c9; 
    --clr-gray-600: #9397ad; 
    --clr-gray-700: #565973; 
    --clr-gray-800: #33354d; 
    --clr-gray-900: #0b0f19; 
     
    --clr-primary: #6366f1;

    --clr-bg: #fff;
    --clr-bg-100: var(--clr-bg-100);
    --clr-text-body: var(--clr-gray-700);
    --clr-text-heading: var(--clr-gray-900);
    --clr-text-navigation: var(--clr-gray-800);

    /* Broder radius-es */

    --br-m: 0.375em;
    --br-1: 0.5em;

}

body, html {
    margin: 0;
    padding: 0;
}

/* Allmän layout för container-klasser */
.container {
   /* width: 100vw; */
 
   /* background-color: var(--clr-gray-100); */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}
/* Divvar START */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray-100);
    /* background-color: hotpink; */
    padding: 10px;
    width: 100vw;
}

.navbar img {
    /* Nedan width bör justeras efter behov! */
    /* width: 40px;  */

}

.header {
    background-color: var(--clr-gray-100);
}

.logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider {
     
    background-color: var(--clr-gray-100);
    margin: 0;
    padding: 20px;
/*     GAMMAL KOD
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-gray-600); */
}

.features-dos {

}

.testimonials {

}

.faq {

}

.subscribe {

}

/* Divvar END */

/* Accordion START */
.accordion {
    background-color: hotpink;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .accordion:hover {
    background-color: #f0f0f0;
    border-color: #bbb;
  }

  .active, .accordion:hover {
    background-color: #ccc;
    border-color: #aaa;
  }
  
  .accordion:after {
    /* content: '\002B'; */
    content: '';
    background-image: url(images/FAQ/arrowunpressed.svg);
    background-size: 32px 32px;
    width: 32px;
    height: 32px;

    display: block;

    float: right;
    margin-left: 5px;

    /* color: #777;
    font-weight: bold; */
    

    background-repeat: no-repeat;
  }
  
  .active:after {
    /* content: "\2212"; */
    background-image: url(images/FAQ/arrowBlue.svg);
    background-size: 53px 53px;
    width: 53px;
    height: 53px;

    display: block;

    float: right;
    margin-left: 5px;

    background-repeat: no-repeat;
  }
  
  
  .panel {
    
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* Accordion END */


/* Divvar END */



/* LOL! Nedan */
/* .header img:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
} */



/* GAMMAL KOD!!:
.features {
    width: 35rem;
} */


/* GAMMAL KOD!!!:
.slider {
    
    position: absolute;
    inset: 0;
    background-color: var(--clr-gray-600);
  

    transition: all var(--_tran);

background-color: var(--clr-gray-900); 
background-color: hotpink; 
}
 */



.image {
    float: left;
}

/* Dålig klass? Gör så att alla saker som klassas som .image 
sätts till vänster */


.btn {
    /* "förklarar" hur en knapp ska se ut */
    font-size: .9rem; 
    padding: .6em 1.8em;
    display: flex;
    gap: .5rem;
    text-wrap: nowrap;
    border-radius: var(--br-m);
    text-decoration: none;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

/*  */



/* *, *::after, *::before {
box-sizing: border-box;
padding: 0;
margin: 0;
} */

/* Saxat från tidigare inlämningskod END */

